/out
bin/
build/
/.vs
.idea/
CMakeSettings.json
Makefile
/resources
/Folder.DotSettings.user
*.ini
/vc140.pdb
/Engine/External/vcpkg
/claude.exe
/CLAUDE.md
/Engine/Resources/Misc/gui_layout.toml
/Engine/Resources/Misc/settings.toml
/Engine/Resources/Misc/log.txt
/.claude/settings.local.json
/.claude
/nul
